<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Listado de Aulas</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

        <form action="#" th:action="@{/ListadoAulas}" method="GET" class="form-inline my-2 my-lg-0">
            <input type="text" name="nombre" placeholder="Buscar aulas" class="form-control mr-sm-2" />
            <button class="btn btn-danger my-2 my-sm-0" type="submit" th:text="#{search}">
             Buscar
            </button>
            </form>
          <br>
      
          <div class="container-fluid">
              <section class="table-responsive">
      
                  <table class="table">
                      <caption th:text="#{classes}">Aulas</caption>
                      <thead>
                        <tr>
                          <th scope="col"  th:text="#{name}">Nombre</th>
                          <th scope="col" th:text="#{options}">Opciones</th>
                       
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="classes : ${classes}">
                          <td th:text="${classes.nombre}"></td>
      
                          <td>
                              
                                <a href="#" th:href="@{editarAula/{id}(id=${classes.id})}" th:text="#{edit}">Editar</a> | 
                                <a href="#" th:href="@{borrar/aula/{id}(id=${classes.id})}" th:text="#{delete}">Borrar</a>
                                <a href="#" th:href="@{nueva/Aula}" th:text="#{add}">Añadir</a>
                             
                              
                              
                          </td>
                          
      
                         
                        </tr>
                       
                      </tbody>
                  </table>

                         <!-- Para la paginación -->
		
		<div class="row">
      <div class="form-group col-md-1">
        <select class="form-control pagination" id="pageSizeSelect">
          <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
            th:value="${pageSize}"
            th:selected="${pageSize} == ${selectedPageSize}"></option>
        </select>
      </div>
      <div th:if="${classes.totalPages != 1}"
        class="form-group col-md-11 pagination-centered">
        <nav>
        <ul class="pagination">
          <!-- Si el número de página es cero, deshabilitamos el enlace -->
          <li class="page-item" th:class="${classes.number == 0} ? disabled">
            <!-- Este enlace nos debe llevar a la primera página, con el tamaño de página actual -->
            <a class="page-link"
            th:href="@{/ListadoAulas(pageSize=${selectedPageSize}, page=1, nombre=${param.nombre})}">&laquo;</a>
          </li>
          <!-- Si el número de página es cero, deshabilitamos el enlace -->
          <li class="page-item" th:class="${classes.number == 0} ? disabled">
            <!-- Este enlace nos debe llevar a la página anterior, con el tamaño de página actual -->						
            <a class="page-link" th:href="@{/ListadoAulas(pageSize=${selectedPageSize}, page=${classes.number}, nombre=${param.nombre})}">&larr;</a>
          </li>
          <!-- Este bucle genera los enlaces para las demás páginas -->
          <li class="page-item"
            th:class="${classes.number + 1 == classes.totalPages} ? disabled"
            th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
            <a class="page-link"
            th:href="@{/ListadoAulas(pageSize=${selectedPageSize}, page=${page}, nombre=${param.nombre})}"
            th:text="${page}"></a>
          </li>
          <!-- Enlace a la siguiente página; si estamos en la última queda desabilitado  -->
          <li class="page-item"
            th:classappend="${classes.number + 1 == classes.totalPages} ? 'disabled'">
            <a class="page-link"
            th:href="@{/ListadoAulas(pageSize=${selectedPageSize}, page=${classes.number + 2}, nombre=${param.nombre})}">&rarr;</a>
          </li>
          <!-- Enlace a la última página; si estamos en la última queda desabilitado  -->				
          <li class="page-item"
            th:class="${classes.number + 1 == classes.totalPages} ? disabled">
            <a class="page-link"
            th:href="@{/ListadoAulas(pageSize=${selectedPageSize}, page=${classes.totalPages}, nombre=${param.nombre})}">&raquo;</a>
          </li>
        </ul>
      </nav>
      </div>
    </div>
    
    </section>

    </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>