<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>
<title>Natucam</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="../static/css/layout.css" th:href="@{/css/layout.css}" rel="stylesheet" type="text/css" media="all">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body id="top">
  
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url('img/backgrounds/portada.jpg');"> 
  <!-- ################################################################################################ -->
  <div class="wrapper row1">
    <header id="header" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <div id="logo" class="fl_left">
        <h1><a href="index.html">AppReserva</a></h1>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li class="active"><a href="index.html">Home</a></li>
          <li><a class="drop" href="#">Pages</a>
            <ul>
              <li><a href="pages/gallery.html">Gallery</a></li>
              <li><a href="pages/full-width.html">Full Width</a></li>
              <li><a href="pages/sidebar-left.html">Sidebar Left</a></li>
              <li><a href="pages/sidebar-right.html">Sidebar Right</a></li>
              <li><a href="pages/basic-grid.html">Basic Grid</a></li>
            </ul>
          </li>
          <li><a class="drop" href="#">Dropdown</a>
            <ul>
              <li><a href="#">Level 2</a></li>
              <li><a class="drop" href="#">Level 2 + Drop</a>
                <ul>
                  <li><a href="#">Level 3</a></li>
                  <li><a href="#">Level 3</a></li>
                  <li><a href="#">Level 3</a></li>
                </ul>
              </li>
              <li><a href="#">Level 2</a></li>
            </ul>
          </li>
          <li><a href="#">Link Text</a></li>
          <li><a href="#loginModal" role="button" data-toggle="modal">Login</a></li>
        </ul>
      </nav>
      <!-- ################################################################################################ -->
    </header>
  </div>
  
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div id="pageintro" class="hoc clear">
    <article> 
      <!-- ################################################################################################ -->
      <h3 class="heading">Te damos la bienvenida</h3>
      <p>¿Aun no eres miembro de nuestra comunidad? ¿A que esperas?</p>
      <p class="font-x1 uppercase bold">Registrate ya aqui mismo</p>
      <footer>
        <ul class="nospace inline pushright">
            <a href="#registro" class="btn btn-succes" role="button" aria-pressed="true">
              <span class="glyphicon glyphicon-align-center">Registro</span></a>
        </ul>
      </footer>
      <!-- ################################################################################################ -->
    </article>
  </div>
  <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4 bgded overlay" style="background-image:url('img/backgrounds/form.jpg');">
  <footer id="footer" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="one_third" id="registro">
      <h6 class="heading">Formulario de registro</h6>
      <p class="nospace btmspace-30">Los usuarios registrados necesitan la validación de un admin para poder acceder a la plataforma. </p>
      <form method="post" th:action="@{/submit}" th:object="${usuario}">
        <fieldset>
          <input class="btmspace-15" type="text" value="" placeholder="Nombre" th:field="*{nombre}" name="name">
          <input class="btmspace-15" type="text" value="" placeholder="Apellidos" th:field="*{apellidos}" name="apellidos">
          <input class="btmspace-15" type="text" value="" placeholder="Email" th:field="*{email}" name="username">
          <input class="btmspace-15" type="text" value="" placeholder="Contraseña" th:field="*{password}" name="pass">
          <input  type="hidden" name="id"
							th:field="*{id}" />
							<input type="hidden" name="id"
							th:field="*{validado}" />
							<input type="hidden" name="id"
							th:field="*{admin}" />
          <button type="submit" value="enviar" >Submit</button>
        </fieldset>
      </form>
    </div>
   
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>

<div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Login</h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form class="form" th:action="@{/login}" autocomplete="on" id="formLogin" method="POST">
                    <div class="form-group">

                        <label for="uname1">Username</label>
                        <input class="form-control form-control-lg" type="text" id="username" name="username"
                            placeholder="Username" required="">
                        <div class="invalid-feedback">Oops, you missed this one.</div>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control form-control-lg" name="password" id="password"
                            placeholder="Password" required>
                        <div class="invalid-feedback">Enter your password too!</div>
                    </div>
                    <div class="form-group py-4">
                        <button type="submit" class="btn btn-primary" value="submit">Confirmar</button>
                        <button class="btn btn-outline-secondary" data-dismiss="modal"
                            aria-hidden="true">Cancelar</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- JAVASCRIPTS -->
<script src="static/js/jquery.min.js"></script>
<script src="static/js/jquery.backtotop.js"></script>
<script src="static/js/jquery.mobilemenu.js"></script>
<script src="static/js/jquery.fitvids.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
crossorigin="anonymous"></script>

</body>
</html>