<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>
<title>Natucam | Pages | Sidebar Left</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="../static/css/layout.css" th:href="@{/css/layout.css}"
	rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
	<!-- ################################################################################################ -->
	<!-- Top Background Image Wrapper -->
	<div class="bgded overlay"
		style="background-image: url('img/backgrounds/portada.jpg');">
		<div th:replace="/Fragments/Navbar :: Navbar"></div>
	</div>

	<!-- End Top Background Image Wrapper -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<div class="wrapper row3">
		<main class="hoc container clear"> <!-- main body --> <!-- ################################################################################################ -->
		<div class="sidebar one_quarter first">
			<!-- ################################################################################################ -->


			<form action="#" th:action="@{/admin/validaciones}" method="GET"
				class="form-inline my-2 my-lg-0">
				<input type="text" name="nombre" placeholder="Buscar usuarios"
					class="form-control mr-sm-2" />
				<button class="btn btn-danger my-2 my-sm-0" type="submit"
					th:text="#{search}">Buscar</button>
			</form>
			<div class="sdb_holder">
				<article>
					<h6>Validar un usuario</h6>
					<p>La validación de un usuario conlleva darle permisos para
						reservar aulas. Hasta que no se valida un usuario, este no tiene
						permiso para acceder a la plataforma. Después de validado, un
						usuario podrá ser dado de baja.</p>
					<ul>
						<li><a href="#">Lista de usuarios validados</a></li>
					</ul>
				</article>
			</div>
			<!-- ################################################################################################ -->
		</div>
		<!-- ################################################################################################ -->
		<!-- ################################################################################################ -->
		<div class="content three_quarter ">
			<!-- ################################################################################################ -->

			<div class="content three_quarter ">
				<!-- ################################################################################################ -->
				<h1>Pendiente de validar</h1>
				<div class="scrollable ">
					<table>
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Apellidos</th>
								<th>Email</th>
								<th>Activar</th>
								<th>Rechazar</th>
							</tr>
						</thead>
						<tbody >
							<tr  th:each="usuario : ${usuario}" >
								<td th:text="${usuario.nombre}"></td>
								<td th:text="${usuario.apellidos}"></td>
								<td th:text="${usuario.email}"></td>
								<td class="text-center"><a href="#"
									th:href="@{/admin/validarUsuario/{id}(id=${usuario.id})}">
								<button class="btn btn-success my-2 my-sm-0" type="submit">
											Validar</button></a>
							</td>


								<td class="text-center"><a href="#"
									th:href="@{/admin/rechazarUsuario/{id}(id=${usuario.id})}">
									<button class="btn btn-danger my-2 my-sm-0" type="submit">
											Rechazar</button>
								</a></td>
							</tr>

		

					</tbody>
				</table>




				<div class="row">
					<div class="form-group col-md-1">
						<select class="form-control pagination" id="pageSizeSelect">
							<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
								th:value="${pageSize}"
								th:selected="${pageSize} == ${selectedPageSize}"></option>
						</select>
					</div>
					<div th:if="${usuario.totalPages != 1 }"
						class="form-group col-md-11 pagination-centered">
						<nav>
							<ul class="pagination">
								<!-- Si el número de página es cero, deshabilitamos el enlace -->
								<li class="page-item"
									th:class="${usuario.number == 0} ? disabled">
									<!-- Este enlace nos debe llevar a la primera página, con el tamaño de página actual -->
									<a class="page-link"
									th:href="@{/admin/validaciones(pageSize=${selectedPageSize}, page=1, nombre=${param.nombre})}">&laquo;</a>
								</li>
								<!-- Si el número de página es cero, deshabilitamos el enlace -->
								<li class="page-item"
									th:class="${usuario.number == 0} ? disabled">
									<!-- Este enlace nos debe llevar a la página anterior, con el tamaño de página actual -->
									<a class="page-link"
									th:href="@{/admin/validaciones(pageSize=${selectedPageSize}, page=${usuario.number}, nombre=${param.nombre})}">&larr;</a>
								</li>
								<!-- Este bucle genera los enlaces para las demás páginas -->
								<li class="page-item"
									th:class="${usuario.number + 1 == usuario.totalPages} ? disabled"
									th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
									<a class="page-link"
									th:href="@{/admin/validaciones(pageSize=${selectedPageSize}, page=${page}, nombre=${param.nombre})}"
									th:text="${page}"></a>
								</li>
								<!-- Enlace a la siguiente página; si estamos en la última queda desabilitado  -->
								<li class="page-item"
									th:classappend="${usuario.number + 1 == usuario.totalPages} ? 'disabled'">
									<a class="page-link"
									th:href="@{/admin/validaciones(pageSize=${selectedPageSize}, page=${usuario.number + 2}, nombre=${param.nombre})}">&rarr;</a>
								</li>
								<!-- Enlace a la última página; si estamos en la última queda desabilitado  -->
								<li class="page-item"
									th:class="${usuario.number + 1 == usuario.totalPages} ? disabled">
									<a class="page-link"
									th:href="@{/admin/validaciones(pageSize=${selectedPageSize}, page=${usuario.totalPages}, nombre=${param.nombre})}">&raquo;</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>

		<!-- ################################################################################################ -->
		<!-- / main body -->
		<div class="clear"></div>
		</main>
	</div>
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<div class="wrapper row5">
		<div id="copyright" class="hoc clear">
			<!-- ################################################################################################ -->
			<p class="fl_left">
				Copyright &copy; 2018 - All Rights Reserved - <a href="#">Domain
					Name</a>
			</p>
			<p class="fl_right">
				Template by <a target="_blank" href="https://www.os-templates.com/"
					title="Free Website Templates">OS Templates</a>
			</p>
			<!-- ################################################################################################ -->
		</div>
	</div>
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
	<!-- JAVASCRIPTS -->
	<script src="../layout/scripts/jquery.min.js"></script>
	<script src="../layout/scripts/jquery.backtotop.js"></script>
	<script src="../layout/scripts/jquery.mobilemenu.js"></script>
	<script th:src="@{/js/paginar.js}"></script>
</body>
</html>