<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<title>Header</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" type='text/css' href="../../static/css/HojaDeEstilo.css" th:href="@{/css/HojaDeEstilo.css}">
</head>



<body>


	<div class="col-12" th:fragment="Header" id="Header">

		<div class="row">
			<div class="col-2 text-center">
				<a th:href="@{/PrincipalP}"><img src="../../static/img/icono-app.png" th:src="@{/img/icono-app.png}"
						alt="icono" id="icono"></a>
			</div>

			<div class="col text-center">AlmacénApp</div>

			<div class="col text-center" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')">
				Bienvenido &nbsp;<span sec:authentication="name">Usuario</span>
			</div>
			

			<div class="col-2 text-center" sec:authorize="!hasAnyRole('ROLE_ADMIN','ROLE_USER')">
				<a href="#loginModal" role="button" class="btn btn-primary btn-lg" data-toggle="modal">Login</a>
			</div>
		</div>
	</div>

</body>

</html>