<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<title>Menu</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" type='text/css' href="../../static/css/HojaDeEstilo.css" th:href="@{/css/HojaDeEstilo.css}">
</head>

<body>


	<nav class="col-12 navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="Menu">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				  </button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">

				<li class="nav-item justify-content-center text-center  align-middle" sec:authorize="hasAnyRole('ROLE_USER') && !hasAnyRole('ROLE_ADMIN')">
					<a class="nav-link active" th:href="@{/PrincipalP}">Principal</a>
				</li>

				<li class="nav-item dropdown justify-content-center text-center align-middle"
					sec:authorize="hasAnyRole('ROLE_ADMIN') && !hasAnyRole('ROLE_USER')">
					<a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Gestionar Trabajadores
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">

						<a class="dropdown-item" sec:authorize="hasAnyRole('ROLE_ADMIN')" href="#"
							th:href="@{/admin/PrincipalT}">Trabajadores de alta</a>

						<a class="dropdown-item" sec:authorize="hasAnyRole('ROLE_ADMIN')" href="#"
							th:href="@{/admin/PrincipalTBaja}">Trabajadores de baja</a>

						<a class="dropdown-item" sec:authorize="hasAnyRole('ROLE_ADMIN')" href="#"
							th:href="@{/admin/TrabajadorExcesos}">Exceso de gastos </a>


						<div class="dropdown-divider"></div>
						<a class="dropdown-item" sec:authorize="hasAnyRole('ROLE_ADMIN')" href="#"
							th:href="@{/admin/Configuracion}">Configurar limine de gastos</a>

					</div>
				</li>
				<li class="nav-item dropdown justify-content-center text-center align-middle" 
					sec:authorize="hasAnyRole('ROLE_ADMIN') && !hasAnyRole('ROLE_USERS')">
					<a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Gestionar Productos
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">

						<a class="dropdown-item" sec:authorize="hasAnyRole('ROLE_ADMIN')" href="#"
							th:href="@{/PrincipalP}">Productos de alta</a>

						<a class="dropdown-item" sec:authorize="hasAnyRole('ROLE_ADMIN')" href="#"
							th:href="@{/admin/PrincipalPBaja}">Productos de baja</a>

					</div>
				</li>
				<li class="nav-item " sec:authorize="hasAnyRole('ROLE_USER') && !hasAnyRole('ROLE_ADMIN')">
					<a class="nav-link active" th:href="@{/user/carrito}"> Ver carrito actual</a>
				</li>

			</ul>
			<ul class="navbar-nav ">

				<li class="nav-item justify-content-center text-center align-middle">
					<form th:action="@{/logout}" method="POST" id="logoutForm"></form>

					<a class="nav-link active" href="javascript:document.getElementById('logoutForm').submit()"><button type="submit" class="btn btn-danger" value="Sign Out" >Sign Out</button></a>
				</li>
			</ul>
	</nav>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>