<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
  <meta charset="UTF-8">
  <title>403 - No Puedes Pasar! [CSS illustration]</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" type="text/css" th:href="@{/css/StyleDenegado.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/StyleGandalf.css}">
  
</head>

<body>

  

<div class="gandalf">
  <div class="fireball"></div>
  <div class="skirt"></div>
  <div class="sleeves"></div>
  <div class="shoulders">
    <div class="hand left"></div>
    <div class="hand right"></div>
  </div>
  <div class="head">
    <div class="hair"></div>
    <div class="beard"></div>
  </div>
</div>
<div class="message">
<h1>403 - No puedes pasar!</h1>
<p>Oh oh, Gandalf esta bloqueando el camino!<br/>¿Quizas te hayas equivocado en la URL?¿O querias ir a otro lugar como... Hobbiton?</p>
</div>
  
  

</body>

</html>
