<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Title</title>
<!-- Required meta tags -->
<meta charset="utf-8">

<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="../static/css/layout.css" th:href="@{/css/layout.css}"
	rel="stylesheet" type="text/css" media="all">
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body >
	<div class="bgded overlay"
		style="background-image: url('img/backgrounds/portada.jpg');">
		<div th:replace="/Fragments/Navbar :: Navbar"></div>
	</div>
		<section class=" p-0 m-0">
			<div class="container col-12 col-md-7 pl-5">
				<div class="row">
					<div class="col-12">
						<div class="well well-sm">
							<form class="form-horizontal justify-content-center"
								th:action="@{/user/selecaula}" th:object="${reserva}"
								method="post">
								<fieldset>
									<legend class=" header " th:text="#{createreserv}">Crear
										Reserva</legend>




									<div class="form-group ">
										<label th:text="#{hour}">Hora </label>
										<div class="col-12">
											<select th:field="*{horaInicio}">
												<option th:each="hora : ${hora}" th:value="${hora}"
													th:text="${hora}"></option>
											</select>

										</div>
									</div>





									<div class="form-group ">
										<label th:text="#{date}">Fecha de la reserva: </label>
										<div class="col-12">
											<input type="date" id="fecha" name="fecha"
												th:field="*{fechaDeReserva}" required="required">
										</div>
									</div>




									<div class="form-group ">
										<div class="col-md-12 ">
											<input th:text="#{query}" type="submit"
												class="btn btn-primary btn-lg" name="enviar"
												value="Consultar" />
										</div>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>


		</section>
	


	<!-- JAVASCRIPTS -->
	<script src="static/js/jquery.min.js"></script>
	<script src="static/js/jquery.backtotop.js"></script>
	<script src="static/js/jquery.mobilemenu.js"></script>
	<script src="static/js/jquery.fitvids.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>