<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Carrito</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class=" col-6 mx-auto justify-content-center text-center" id="tabla" th:fragment="Carritos">
        <table class="table">
          
            <thead class="thead-dark">
                <tr>
                 
                    <th scope="col">Fecha</th>
                    <th scope="col" class="text-center">Total</th>
                    <th scope="col" class="text-center">Detalles</th>
                   
                   
                    
                </tr>
            </thead>
            <tbody>
                <tr th:each="carrito : ${carritos}" th:object="${carrito}">
                    
                    <td th:text="*{Fecha}">Unknow</td>
                    <td th:text = "${#numbers.formatDecimal(carrito.total,2,2)}"></td>
                    <td class="text-center"> 

                        <a href="#"  th:href="@{/admin/mostrarDetalleCarrito/{id}(id=${carrito.id})}">
                            <img src="/static/img/ojo.png" th:src="@{/img/ojo.png}" alt="img" id="ede"></a>
                            
                   
                          
                     
                    </td>

                </tr>

            </tbody>
        </table>
    </div>





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>