<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="utf-8">
	<title>Lista</title>
</head>

<body>

	<div class="tabla col-12 mx-auto  justify-content-center" id="tabla" th:fragment="ProductosAlta">
		<table class="table">
			<thead class="thead-dark">
				<tr>

					<th scope="col">Nombre</th>
					<th scope="col">Categoria</th>
					<th scope="col-3">Descripcion</th>
					<th scope="col">Proveedor</th>
					<th scope="col">Stock</th>
					<th scope="col">Reactivar/Recargar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="producto : ${productos}" th:object="${producto}">

					<td th:text="*{nombre}">Unknow</td>
					<td th:text="*{categoria}">Unknow</td>
					<td th:text="*{descripcion}">Unknow</td>
					<td th:text="*{proveedor}">Unknow</td>
					<td th:text="*{stock}">Unknow</td>
					<td class="text-center">

						<a th:if="${producto.stock!=0}" href="#" th:href="@{/admin/activarProducto/{id}(id=${producto.id})}"
							sec:authorize="hasAnyRole('ROLE_ADMIN')"> <img src="/static/img/back.png"
								th:src="@{../img/back.png}" alt="editar" id="ede"></a>

						<a th:if="${producto.stock==0}" href="#" th:href="@{/admin/editarproducto/{id}(id=${producto.id})}"
							sec:authorize="hasAnyRole('ROLE_ADMIN')"> <img src="/static/img/editar.png"
								th:src="@{../img/editar.png}" alt="editar" id="ede"></a>


					</td>

				</tr>

			</tbody>
		</table>
	</div>

</body>


</html>