<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="utf-8">
	<title>Lista</title>
</head>

<body>

	<div class="tabla col-12 mx-auto justify-content-center" id="tabla" th:fragment="ProductosB">
		<table class="table">
			<thead class="thead-dark">
				<tr>
					
					<th scope="col">Nombre</th>
					<th scope="col">Categoria</th>
					<th scope="col">Descripcion</th>
					<th scope="col">Proveedor</th>
					<th scope="col">Stock</th>
					<th scope="col">
						<form action="#" th:action="@{/searchP}" th:object="${searchForm}" method="POST" id="buscar">
							<input type="text" name="nombre" placeholder="Buscar Por Nombre" th:field="*{search}"
								style="padding: 4px;" />
							<button type="submit" style="padding: 4px;">
								<img src="../../../static/img/buscar.png" alt="buscar" th:src="@{../img/buscar.png}"
									id="iconadmin">
							</button>
						</form>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${producto.stock !=0} and ${producto.alta != false }" th:each="producto : ${productos}" th:object="${producto}">
				
					<td th:text="*{nombre}">Unknow</td>
					<td th:text="*{categoria}">Unknow</td>
					<td th:text="*{descripcion}">Unknow</td>
					<td th:text="*{proveedor}">Unknow</td>
					<td th:text="*{stock}">Unknow</td>
					<td>

						<a href="#" th:href="@{/admin/editarproducto/{id}(id=${producto.id})}"
							sec:authorize="hasAnyRole('ROLE_ADMIN')"> <img src="/static/img/editar.png"
								th:src="@{../img/editar.png}" alt="editar" id="ede"></a>

						<a href="#" th:href="@{/admin/borrar/{id}(id=${producto.id})}" onclick="return confirm('¿Esta seguro que desea elmininar este producto?')"
							sec:authorize="hasAnyRole('ROLE_ADMIN')">
							<img src="/static/img/borrar.png" th:src="@{../img/borrar.png}" alt="borrar" id="ede">
						</a>

						<a href="#" th:href="@{/user/productoACarrito/{id}(id=${producto.id})}"
							sec:authorize="hasAnyRole('ROLE_USER') && !hasAnyRole('ROLE_ADMIN')"> <img src="/static/img/aniadir.png"
								th:src="@{../img/aniadir.png}" alt="añadir" id="ede">Añadir a carrito
						</a>

					</td>

				</tr>

			</tbody>
		</table>
	</div>

</body>


</html>






