<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="utf-8">
	<title>Lista</title>
</head>

<body>

	<div class="tabla mx-auto col-12  justify-content-center" id="tabla" th:fragment="TrabajadoresB">
		<table class="table">
			<thead class="thead-dark">
				<tr>

					<th scope="col">Nombre</th>
					<th scope="col">Apellidos</th>
					<th scope="col">Fecha de nacimiento</th>
					<th scope="col">Telefono</th>
					<th scope="col">Email</th>
					<th scope="col">Gastos</th>
					<th scope="col">
						<form action="#" th:action="@{/admin/searchT}" th:object="${searchForm}" method="POST"
							id="buscar">
							<input type="text" name="nombre" placeholder="Buscar Por Nombre" th:field="*{search}"
								style="padding: 4px;" />
							<button type="submit" style="padding: 4px;">
								<img src="../../../static/img/buscar.png" alt="buscar" th:src="@{../img/buscar.png}"
									id="iconadmin">
							</button>
						</form>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${trabajador.alta != false }" th:each="trabajador : ${trabajadores}"
					th:object="${trabajador}">

					<td th:text="*{Nombre}">Unknow</td>
					<td th:text="*{Apellidos}">Unknow</td>
					<td th:text="*{fechaNacimiento}">Unknow</td>
					<td th:text="*{telefono}">Unknow</td>
					<td th:text="*{email}">Unknow@Unknow</td>
					<td th:text="${#numbers.formatDecimal(trabajador.gastos,2,2)}">Unknow</td>
					<td ><a href="#"
						th:href="@{/admin/editartrabajador/{id}(id=${trabajador.id})}">
							<img src="/static/img/editar.png" th:src="@{/img/editar.png}"
							alt="editar" id="ede">
					</a> <a href="#" th:href="@{/admin/borrar2/{id}(id=${trabajador.id})}" onclick="return confirm('¿Esta seguro que desea elmininar este trabajador?')"
						> <img src="/static/img/borrar.png"
							th:src="@{/img/borrar.png}" alt="borrar" id="ede"></a>
							
							
							<a href="#"
						th:href="@{/admin/mostrarCarrito/{id}(id=${trabajador.id})}">
						<img src="/static/img/carrito.png" th:src="@{/img/carrito.png}"
						alt="mostrar" id="ede">
					</a></td>
					
				</tr>

			</tbody>
		</table>
	</div>

</body>



</html>