<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="utf-8">
	<title>Lista</title>
</head>

<body>

	<div class="mx-auto col-12 " id="tabla" th:fragment="TrabajadoresAlta">
		<table class="table">
			<thead class="thead-dark">
				<tr>
				
					<th scope="col">Nombre</th>
					<th scope="col">Apellidos</th>
					<th scope="col">Fecha de nacimiento</th>
					<th scope="col">Telefono</th>
					<th scope="col">Email</th>
					<th scope="col">Gastos</th>
					<th scope="col">Reactivar</th>
					
				</tr>
			</thead>
			<tbody>
				<tr  th:each="trabajador : ${persons}" th:object="${trabajador}">
				
					<td th:text="*{Nombre}">Unknow</td>
					<td th:text="*{Apellidos}">Unknow</td>
					<td th:text="*{fechaNacimiento}">Unknow</td>
					<td th:text="*{telefono}">Unknow</td>
					<td th:text="*{email}">Unknow@Unknow</td>
					<td th:text="${#numbers.formatDecimal(trabajador.gastos,2,2)}">Unknow@Unknow</td>
					
					<td class="text-center">

						<a href="#" th:href="@{/admin/activarTrabajador/{id}(id=${trabajador.id})}">
							<img src="/static/img/back.png" th:src="@{/img/back.png}" alt="editar" id="ede"></a>

						
					</td>

				</tr>

			</tbody>
		</table>
	</div>

</body>


</html>



