<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<title>Header</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="../../static/css/layout.css" th:href="@{../css/layout.css}"
	rel="stylesheet" type="text/css" media="all">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>



<body>




	<div class="wrapper row1 " th:fragment="Navbar">
		<header id="header" class="hoc clear">
			<!-- ################################################################################################ -->
			<div id="logo" class="fl_left">
				<h1>
					<a href="/login">AppReserva</a>
				</h1>
			</div>
			<nav id="mainav" class="fl_right">

				<ul class="clear">

					<li class="active"><a href="/login">Home</a></li>

					<li
						sec:authorize="hasAnyRole('ROLE_ADMIN')"><a
						class="drop" href="#" th:text="#{controlpanel}">Control de usuario</a>
						<ul>
							<li><a th:href="@{/admin/validaciones}" href="pages/gallery.html">Validaciones</a></li>
						</ul></li>


					<li
						sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')"><a
						class="drop" href="#" th:text="#{controlreser}">Control de reservas</a>
						<ul>
							<li
								sec:authorize="hasAnyRole('ROLE_ADMIN')"><a
								th:href="@{/admin/buscarReservas}" th:text="#{listreserv}">Lista de reservas</a></li>
							<li
								sec:authorize="hasAnyRole('ROLE_USER')"><a
								href="pages/full-width.html" th:href="@{/user/selecfechahora}" th:text="#{createreserv}">Crear reserva</a></li>
							<li
								sec:authorize="hasAnyRole('ROLE_USER')"><a href="listarReservas.html"  th:text="#{myreserv}" th:href="@{/user/buscarReservas}">Listar mis reservas</a></li>

						</ul></li>

					<li><a class="drop" href="#" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" th:text="#{idiomas}">Idiomas</a>
						<ul>
							<li><a th:text="#{lang.sp}" sec:authorize="hasAnyRole('ROLE_ADMIN')" th:href="@{/admin/validaciones?lang=es_ES}"></a></li>
              <li><a  th:text="#{lang.en}" sec:authorize="hasAnyRole('ROLE_ADMIN')" th:href="@{/admin/validaciones?lang=eng_ENG}"></a></li>
              <li><a th:text="#{lang.sp}" sec:authorize="hasAnyRole('ROLE_USER')" th:href="@{/user/buscarReservas?lang=es_ES}"></a></li>
              <li><a  th:text="#{lang.en}"  sec:authorize="hasAnyRole('ROLE_USER')"th:href="@{/user/buscarReservas?lang=eng_ENG}"></a></li>

						</ul></li>
					<li
						sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')"><a
						class="drop" href="#" th:text="#{controlclasses}">Control de aulas</a>
						<ul>
							<li
								sec:authorize="hasAnyRole('ROLE_ADMIN')"><a
								th:href="@{/admin/ListadoAulas}" th:text="#{listclasses}">Lista de aulas</a></li>
							<li
								sec:authorize="hasAnyRole('ROLE_USER')"><a
								th:href="@{/user/ListadoAulas}" th:text="#{listclasses}">Lista de aulas</a></li>
							

						</ul></li>
								
								
					<li
						sec:authorize="!hasAnyRole('ROLE_ADMIN','ROLE_USER')"><a
						href="#loginModal" role="button" data-toggle="modal">Login</a></li>
					<li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')"
						>
						<form th:action="@{/logout}" method="POST" id="logoutForm"></form>
						<a class="nav-link active"
						href="javascript:document.getElementById('logoutForm').submit()">
							<button type="submit" class="btn btn-danger" value="Sign Out">Sign
								Out</button>
					</a>
					</li>
				</ul>
			</nav>
			<!-- ################################################################################################ -->
		</header>

	</div>



	<script src="static/js/jquery.min.js"></script>
	<script src="static/js/jquery.backtotop.js"></script>
	<script src="static/js/jquery.mobilemenu.js"></script>
	<script src="static/js/jquery.fitvids.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

</body>

</html>